
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

form {
  padding: 10px;
}

.content {
  padding: 20px 48px 50px;
}

.post-wrapper {
  margin: 4px 0 4px 0px;
  overflow: visible;
  word-wrap: break-word;
}

.post {
  display: inline-block;
  min-width: 26.4em;
  max-width: 100%;
  background: #DDDDDD;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 1px 3px 3px;
  margin: 0;
  overflow: hidden;
}

p {
  padding: 0 10px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.reply-label {
  color: #122333;
  cursor: pointer;
}
.reply-label:hover {
  color: #D9534F;
  cursor: pointer;
}

.reply-label-wrapper {
  padding: 0 50px;
  font-size: 1.1em;
  text-align: -webkit-center
}

.addPost-wrapper {
  padding: 32px 48px 0;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.alert {
  margin-top: 10px;
}
