extends ../layouts/default.pug

block content
	block posts
		if (posts.length)
			each post in posts
				include post
		else
			h4 No posts.&nbsp

block addPost
	.reply-label-wrapper
		.desktop
			.reply-label Add post
		//- .mobile
		form.pure-form.pure-form-stacked(name="postForm" action="/" style="display:none;")
			textarea(placeholder="profile text" name="message")
			button.pure-button(type="submit" name="button") Submit