doctype html
html(lang="en")
  include ../includes/head.pug
  body
    .pure-g
      .pure-u-1
        .messages
          include ../includes/messages.pug
        .addPost-wrapper
          block addPost
        .content
          block content
    include ../includes/footer.pug
